.container {
    max-width: 100%; /* Ajuste para un diseño más amplio en dispositivos móviles */
    margin: 0 auto; /* Centrar el contenedor */
    padding: 20px;
    text-align: center;
    margin-top: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    font-family: 'Arial', sans-serif; /* Fuente */
    text-align: center; /* Alinear al centro */
    margin-bottom: 20px; /* Añadir espacio debajo del texto */
}

.intro p {
    font-size: 20px; /* Tamaño de la fuente */
    line-height: 1.5; /* Altura de línea */
    margin-bottom: 20px; /* Añadir espacio debajo del párrafo */
    animation: fadeIn 1s ease-in-out; /* Animación de entrada */
    text-align: center; /* Alinear al centro */
}

.add-product {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 20px; /* Añadir bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-bottom: 30px; /* Añadir espacio debajo del formulario */
    width: 100%; /* Ancho del formulario */
    max-width: 375px; /* Ancho máximo del formulario */
}

.add-product h2 {
    font-size: 24px;
    color: #ff0000;
    margin-bottom: 10px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label { /* Estilo de las etiquetas */
    font-size: 14px; /* Tamaño de la fuente */
    font-weight: 700; /* Grosor de la fuente */
    margin-bottom: 5px; /* Añadir espacio debajo de la etiqueta */
}

.form-group input,
.form-group select { /* Estilo de los inputs y selects */
    padding: 10px; /* Añadir espacio interno */
    font-size: 14px; /* Tamaño de la fuente */
    border: 1px solid #ccc; /* Añadir borde */
    border-radius: 5px; /* Añadir bordes redondeados */
    transition: border-color 0.3s; /* Transición al cambiar el color del borde */
    width: 85%; /* Ancho del input */
}

.form-group input:focus, /* Estilo al hacer focus */
.form-group select:focus {  /* Estilo al hacer focus */
    border-color: #ff0000; /* Cambiar el color del borde al hacer focus */
}

.form-buttons {
    display: flex; /* Mostrar los botones en línea */
    justify-content: space-between; /* Espacio entre los botones */
    margin-top: 20px; /* Añadir espacio arriba de los botones */
}

.form-buttons button { /* Estilo de los botones */
    padding: 10px 20px; /* Añadir espacio interno */
    background-color: #ff0000; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    border: none; /* Quitar el borde */
    border-radius: 5px; /* Añadir bordes redondeados */
    font-size: 14px; /* Tamaño de la fuente */
    font-weight: 700; /* Grosor de la fuente */
    text-transform: uppercase; /* Todo en mayúsculas */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Transiciones */
    margin-right: 0px; /* Espacio entre los botones */
}

.form-buttons button:hover { /* Estilo al hacer hover */
    background-color: #cc0000; /* Cambiar el color de fondo al hacer hover */
    transform: scale(1.05); /* Agrandar al hacer hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombra al hacer hover */
}

.stock-table {
    background-color: #ffffff;
    padding: 20px; /* Añadir espacio interno */
    border-radius: 10px;   /* Añadir bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    overflow-x: auto; /* Permitir desplazamiento horizontal */
    font-size: 15px; /* Tamaño de la fuente */
    width: 100%; /* Ancho de la tabla ajustado al contenedor */
    max-width: 1000px; /* Ancho máximo de la tabla */
}

.stock-table h2 {
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    color: #ff0000;
    margin-bottom: 10px; /* Añadir espacio debajo del título */
    text-align: center;
}

table {
    width: 100%; /* Ancho de la tabla ajustado al contenedor */
    border-collapse: collapse; /* Colapsar los bordes de la tabla */
    margin-bottom: 20px; /* Añadir espacio debajo de la tabla */
    margin: 0 auto; /* Centrar la tabla */
}

table th,
table td {
    padding: 10px; /* Añadir espacio interno */
    border: 1px solid #ccc;
    text-align: center;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

table th {
    background-color: #f0f0f0;
    cursor: pointer;
}

table th:hover {
    background-color: #e0e0e0;
}

table td input {
    width: 100%;    /* Ancho del input */
    border: none;  /* Quitar el borde */
    background-color: transparent; /* Fondo transparente */
    text-align: center; /* Centrar el texto */
}

table td input:focus {
    outline: none;
    border-bottom: 1px solid #ff0000;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.actions button {
    padding: 5px 10px;
    background-color: #f30000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.actions button:hover {
    background-color: #32d600;
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.download-buttons {
    text-align: center;
    margin-top: 20px;
}

.btn-download {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.btn-download:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.download-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.btn-excel {
    padding: 10px 20px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.btn-excel:hover {
    background-color: #218838;
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.btn-pdf {
    padding: 10px 20px;
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.btn-pdf:hover {
    background-color: #c82333;
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Añadir movimiento vertical */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
