body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto; /* Habilitar desplazamiento vertical y horizontal */
    background-color: #eeeeee00; /* Fondo blanco */
    -webkit-overflow-scrolling: touch; /* Habilitar desplazamiento suave para dispositivos móviles */
}

#threejs-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.content {
    position: relative;
    z-index: 1;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegurar que el contenido ocupe al menos la altura de la pantalla */
}

.site-header {
    background-color: #ffffff;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header .logo-link {
    text-decoration: none;
    color: #000000;
    flex-grow: 1;
    text-align: center;
}

.site-header .logo {
    margin: 0;
    font-size: 2.25em;
    animation: bounceLogo 2s infinite; /* Añadir animación al logo */
}

@keyframes bounceLogo {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.back-button {
    margin-left: 20px;
}

.back-button-img {
    width: 30px;
    height: 30px;
}

.spacer {
    width: 30px; /* Espacio para mantener el logo centrado */
    height: 30px;
    margin-right: 20px;
}

.container {
    max-width: 450px; /* Ajustar el ancho del contenedor */
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Asegurar que el contenedor ocupe al menos la altura de la pantalla */
}

.intro {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-bottom: 0px;
    font-size: 20px; /* Ajustar el tamaño de la fuente para móviles */
    max-width: 450px; /* Ajustar el ancho de la intro */
    margin-top: 500px;
}

.intro h1 {
    font-family: 'Arial', sans-serif;
    margin-bottom: 10px;
    font-size: 24px; /* Ajustar el tamaño de la fuente para móviles */
    margin-top: 0;
    top: 0;
    left: 0;
    right: 0;
    animation: fadeIn 2s ease-in-out;
}

.intro p {
    font-family: 'Arial', sans-serif; /* Cambiar la fuente a Poppins */
    font-size: 20px; /* Ajustar el tamaño de la fuente para móviles */
    line-height: 1.6; /* Ajustar el interlineado */
    margin-bottom: 20px; /* Añadir espacio debajo del párrafo */
    animation: fadeIn 1s ease-in-out; /* Añadir animación de entrada */
    text-align: center; /* Centrar el texto */
    margin-top: -30vh;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 30px;
    box-shadow:0 0 15px #000000;    
    color: #000000;
    text-shadow:0 0 4px rgba(0, 0, 0, 0);
    
}

.start-title {
    font-family: 'Faster One', sans-serif; /* Cambiar la fuente a Faster One */
    font-size: 36px; /* Ajustar el tamaño de la fuente para móviles */
    color: #000000;
    margin-bottom: 20px; /* Añadir espacio debajo del título */
    margin-top: 20px;
    text-transform: uppercase;
    display: inline-block; /* Necesario para la animación Anime.js */
    transform-style: preserve-3d; /* Necesario para la animación 3D de GSAP */
    /* Eliminar animaciones */
    animation: none;
    transition: none;
}

@keyframes moveTitle {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes bounceTitle {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Espacio entre los botones */
    margin-bottom: 20px; /* Añadir espacio debajo de los botones */
    max-width: 300px; /* Ajustar el ancho de los botones */
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e9e9e9;
    color: #000000;
    text-decoration: none; /* Quitar subrayado */
    border-radius: 3px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    font-size: 14px; /* Tamaño de la fuente */
    font-weight: 700;   /* Grosor de la fuente */
    text-align: center; /* Centrar el texto */
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.329);
    text-transform: uppercase; /* Todo en mayúsculas */
    margin-right: 0px; /* Espacio entre los botones */
    max-width: 300px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #dfdfdf; /* Cambiar el color de fondo al pasar el ratón */
    transform: scale(1.05); /* Aumentar el tamaño al pasar el ratón */
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.226); /* Añadir sombra al pasar el ratón */
    text-align: center; /* Centrar el texto */
}

.description {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff00;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0);
    text-align: left;
    animation: fadeIn 1.5s ease-in-out;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
    max-width: 450px; /* Ajustar el ancho de la descripción */
}

.description h2 {
    font-family: 'arial', sans-serif;
    font-size: 24px; /* Ajustar el tamaño de la fuente para móviles */
    color: #000000;
    margin-bottom: 10px;
}

.description p {
    font-size: 16px; /* Ajustar el tamaño de la fuente para móviles */
    line-height: 1.6;
    color: #000000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Añadir movimiento vertical */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0.3); /* Aumentar la escala inicial */
        opacity: 0;
    }
    50% {
        transform: scale(1.2); /* Aumentar la escala intermedia */
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

/* Estilos para las alertas */
.alert {
    display: none;
    font-family: 'Zen Dots', sans-serif;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    z-index: 1000;
    animation: fadeIn 0.5s ease-in-out;
}

.alert.success {
    background-color: #4CAF50;
    color: white;
}

.alert.error {
    background-color: #f44336;
    color: white;
}

.alert.warning {
    background-color: #ff9800;
    color: white;
}

.alert.info {
    background-color: #2196F3;
    color: white;
}

.header {
    width: 100%; /* Ajustar el ancho del encabezado */
    height: 30px;
    display: flex; /* Alinear elementos en fila */
    justify-content: center; /* Centrar elementos horizontalmente */
    align-items: center;
    padding: 20px 0; /* Añadir espacio alrededor del encabezado */
    background-color: #00000000; /* Cambiar el color del encabezado a verde */
    position: fixed; /* Hacer que el encabezado se mantenga a la vista */
    top: 0; /* Alinear el encabezado en la parte superior */
    z-index: 1000; /* Asegurar que el encabezado esté por encima de otros elementos */
}

.header-title {
    font-family: 'Gruppo', sans-serif; /* Cambiar la fuente a Gruppo */
    font-size: 30px; /* Ajustar el tamaño de la fuente */
    font-weight: 1; /* Ajustar el grosor de la fuente */
    color: #000000;
    margin-top: 20vh; /* Añadir espacio encima del título */
    text-align: center;
    margin-top: 4vh; /* Ajustar el margen superior a 6vh */
    animation: fadeIn 1s ease-in-out; /* Fade In Animation: Smoothly transitions the element from invisible to visible. Customize as needed. */
    margin-top: 5vh;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.header-logo {
    width: 100px; /* Ajustar el tamaño del logo */
    height: auto; /* Mantener la proporción del logo */
    animation: bounceLogo 2s infinite; /* Añadir animación al logo */
    margin-top: 6vh;
}

/* Estilos adicionales para SVG y enlaces */
body {
    background-color: #ffffff;
}

svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.links {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: rgba(86, 43, 43, 0);
    margin-left: 1em;
}

a:hover {
    text-decoration: underline;
}

a img.icon {
    display: inline-block;
    height: 1em;
    margin: 0 0 -0.1em 0.3em;
}

/* Configuración para cambiar todos los colores del SVG adicional */
svg path {
    fill: #5f8a9135; /* Cambiar el color de relleno de todos los caminos del SVG */
}

/* Estilos para el formulario de registro e inicio de sesión */
.registration-info {
    text-align: center;
    margin-top: 20px;
}

.registration-info h2 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #000000;
    margin-bottom: 10px;
}

.registration-info p,
.registration-info ul {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
    margin-bottom: 20px;
}

.registration-info ul {
    text-align: left;
    display: inline-block;
}

.form-container {
    text-align: center;
    margin-top: -140px;
    padding: 16px; /* Añadir espacio alrededor del formulario */
    background-color: #dfeaec;
    border-radius: 45px;
    box-shadow: 0 0 60px rgb(255, 255, 255);
    position: center;
    width: 93%;
    max-width: 400px;
    animation: fadeIn 1s ease-in-out;
    margin-top: 13vh;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vh;
}

.form-container h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    color: #000000;
    margin-bottom: 15px; /* Añadir espacio debajo del título */
    animation: fadeIn 1s ease-in-out;
    text-align: center;
}

.form-container input {
    display: block;
    width: 85%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d3d3d3;
    border-radius: 40px;
    font-size: 18px;
    animation: fadeIn 1s ease-in-out;
    margin-top: 2vh;
}

.input-container {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.input-container input {
    padding-left: 40px; /* Añadir espacio para el icono */
}

.form-container button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    display: block;
    width: 80%; /* Ajustar el ancho del botón */
    height: 40%; /* Ajustar la altura del botón */
    padding: 9px; /* Añadir espacio interno */
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    animation: fadeIn 1s ease-in-out;
}

.form-container button:hover {
    background-color: #d6e3e3;
    animation: fadeIn 1s ease-in-out;
}

/* Aplicar la fuente Thin 100 al formulario de inicio de sesión */
.thin-font {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}