body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto; /* Permitir desplazamiento vertical */
}

#particles-js {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}

#particles-title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que el contenido ocupe al menos toda la altura de la pantalla */
}

.site-header {
    background-color: #000000;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #000000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header .logo-link {
    text-decoration: none;
    color: #ffffff;
    flex-grow: 1;
    text-align: center;
}

.site-header .logo {
    margin: 0;
    font-size: 2.25em;
}

.back-button {
    margin-left: 20px;
}

.back-button-img {
    width: 30px;
    height: 30px;
}

.spacer {
    width: 30px; /* Espacio para mantener el logo centrado */
    height: 30px;
    margin-right: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
}

.intro {
    font-family: 'Faster One', sans-serif;
    text-align: center;
    margin-bottom: 100px; /* Añadir espacio debajo de la intro */
    font-size: 40px;
    max-width: 400px; /* Ajustar el ancho de la intro */
    margin-top: 10vh;
}

.intro h1 {
    font-family: 'Faster One', sans-serif;
    margin-bottom: 10px;
    font-size: 42px;
    margin-top: vh;
    top: 0;
    left: 0;
    right: 0;
    animation: fadeIn 2s ease-in-out;
}

.intro p {
    font-family: 'arial', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    animation: fadeIn 3s ease-in-out;
    text-align: center;
}

.start-title {
    font-family: 'Faster One', sans-serif;
    font-size: 38px;
    color: #d1c7c7;
    margin-bottom: 10px; /* Añadir espacio debajo del título */
    margin-bottom: -180px; /* Añadir espacio debajo del título */
    margin-top: 180vh;
    text-transform: uppercase;
    animation: bounceTitle 1.5s infinite alternate; /* Aplicar una animación diferente */
}

@keyframes moveTitle {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes bounceTitle {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Espacio entre los botones */
    margin-bottom: 20px; /* Añadir espacio debajo de los botones */
    max-width: 400px; /* Ajustar el ancho de los botones */
    margin-top: 30vh;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    font-size: 14px; /* Tamaño de la fuente */
    font-weight: 700;   /* Grosor de la fuente */
    text-align: center; /* Centrar el texto */
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
    text-transform: uppercase; /* Todo en mayúsculas */
    margin-right: 0px; /* Espacio entre los botones */
    max-width: 300px;
    margin-top: 1vh;
}

.btn:hover {
    background-color: #000000;
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.description {
    margin-top: 20px;
    padding: 20px;
    background-color: #00000054;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    animation: fadeIn 1.5s ease-in-out;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    max-width: 400px; /* Ajustar el ancho de la descripción */
}

.description h2 {
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    color: #ff0000;
    margin-bottom: 10px;
}

.description p {
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Añadir movimiento vertical */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0.3); /* Aumentar la escala inicial */
        opacity: 0;
    }
    50% {
        transform: scale(1.2); /* Aumentar la escala intermedia */
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}
